<div class="add card-body">
    <h3>Tạo bài viết mới</h3>
    <form action="/posts" method="post">
    <div class="form-group">
        <label for="title">Tiêu đề</label>
        <input type="text" class="form-control" name="title" required value="{{title}}">
    </div>
    <div class="form-group">
        <label for="content">Nội dung</label>
        <textarea name="content" id="" class="form-control"cols="30" rows="10" >{{content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Tạo bài viết mới</button>
    </form>
</div>